.vertical{
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
}


.stroke-2{
  -webkit-text-stroke:2px #000;
  text-stroke:2px #000;
}
.stroke-1{
  -webkit-text-stroke:1.5px #000;
  text-stroke:1.5px #000;
}
.transform-translate{
  transform: translate3d(100%,0,0);
}
.text-style[data-hover] {
  -webkit-text-stroke: 2px #000;
  text-stroke: 2px #000;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
}

.text-style::before{
  content: attr(data-hover);

  position: absolute;

  top: 0;

  left: 0;

  height: 0;

  overflow: hidden;

  white-space: nowrap;

  -webkit-text-stroke: 0;

  text-stroke: 0;

  -webkit-text-fill-color: #000;

  text-fill-color: #000;

  color: #000;

  transition: all 0.3s;
}

.text-style[data-hover] {
  -webkit-text-stroke: 2px #000;
  text-stroke: 2px #000;
  /* -webkit-text-fill-color: transparent; */
  text-fill-color: transparent;
  /* color: transparent; */
}

.grid__item:hover .text-style::before {
	height: 100%;
	width: 100%;
}

.main-shadow-a{
  background-color: #222f43;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%238e9ba9' fill-opacity='0.27' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
}

.portfolio_card{
  //transition: transform 0.5s ease;
  transition:0.5s ease;
}

.portfolio_card:hover{
  //transform: scale(1.1);
}

.work_img{
  transition:0.5s ease;
}
.work_img:hover{
  transform: scale(1.1);
}


.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@media (min-width: 1281px) {

  .vertical{
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
  }


}

@media (min-width: 1025px) and (max-width: 1280px) {

  .vertical{
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
  }


}
@media (min-width: 768px) and (max-width: 1024px) {

  .vertical{
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
  }

}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .vertical{
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
  }


}
@media (min-width: 320px) and (max-width: 480px) {

  .vertical{
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb;
  }
}


@media (min-width: 481px) and (max-width: 767px) {

  .vertical{
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb;
  }

}


